/* FormPage.css */

.form_container {
    width: 60%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
}
.input_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
  
.input_label {
    font-size: 0.9rem;
    color: #484a4e;
    font-weight: 500;
    width: 20%;
    padding: 0.5rem;
}

.input_field {
    cursor: text;
    color: #000000;
    width: 75%;
    height: 3.2rem;
    padding: 0 12px;
    border-radius: 7px;
    font-size: 0.8 !important;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
    /* font-size: 0.8rem; */
}

.p-datatable .p-sortable-column.p-highlight {
    background: #eef2ff;
    color: teal;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: teal !important;
}

.input_checkbox {
    margin-right: 0px; /* Remove margin */
    vertical-align: middle;
    transform: scale(2.0); /* Adjust the scale factor as needed */
  }
  
  .sign-in_btn {
    width: 50%;
    height: 40px;
    border: 0;
    /* background: #0097b2; */
    background-color: rgb(3, 149, 149);
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px; /* Adjust as needed */
  }
  

@media (max-width: 768px) {
    /* Styles for screens up to 768px wide (tablets) */
    .form_container {
      width: 80%; /* Adjust width for smaller screens */
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for screens up to 480px wide (phones) */
    .form_container {
      width: 90%; /* Adjust width for even smaller screens */
      padding: 10px;
    }
  }
  
/* Add this CSS to your stylesheet or style section */
.radio-group .p-radiobutton.p-highlight {
    background-color: teal !important;
    border-color: teal !important;
    color: white !important;
  }
  
  .radio-group .p-radiobutton.p-highlight:hover {
    background-color: teal !important;
    border-color: teal !important;
    color: white !important;
  }
  
  .radio-group .p-radiobutton.p-highlight input:focus + .p-radiobutton-box {
    box-shadow: 0 0 0 1px teal !important;
  }
  

.p-inputtext{

  width:5rem;

  }