/* #root{
    width: 100%;
} */
/* .container-2{
    width: 100%;
} */
.p-datatable-header:only-child{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}
/* .p-datatable-gridlines{

    display: flex;
    flex-direction: row;
} */

.p-inputtext {
    /* width: 35rem;
    padding: .8rem;
    border: 1px solid darkslategray; */
    cursor: text;
    color: #000000;
    width: 35rem;
    height: 3.2rem;
    padding: 0 12px;
    border-radius: 7px;
    font-size: 0.8 !important;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.p-card-content{
    display: flex !important;
    flex-direction: row !important;
    gap: 2rem;

}
.form_container_2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form_container3{
    justify-content: center;
    /* margin-left: 48rem; */
    width: 60%;
    margin-top: 6rem;
}
.p-inputtext{
    width: 100%;
}